# Notion
NOTION_AUTH_TOKEN = {{ NOTION_AUTH_TOKEN }}
MAIN_DB_ID = {{ MAIN_DB_ID }}
PROJECTS_DB_ID = {{ PROJECTS_DB_ID }}
TEACH_DB_ID = {{ TEACH_DB_ID }}
GLOSA_DB_ID = {{ GLOSA_DB_ID }}
EMAIL_DB_ID = {{ EMAIL_DB_ID }}