{% extends "base.html" %}

{% block title %}{{ work.marca }} | {{ work.title }}{% endblock %}

{% block extra_css %}
  {# Puedes agregar CSS específico para esta plantilla si lo requieres #}
{% endblock %}

{% block content %}

<header>
  <span class="footer-title">
    <a href="{{ back_link|default(url_for('index')) }}">&#8592;</a>
  </span>
</header>

<div class="work">
  <!-- Sección de medios -->
  <div class="project_media" data-elementresizer="true" data-resize-parent="true">
    {# Inicializamos un namespace para contar los iframes de Youtube #}
    {% set ns = namespace(youtube_counter=1, prev_type=None) %}
    {% for file in files %}
      {# Si no es el primer archivo y el tipo cambia, se inserta un separador <hr> #}
      {% if ns.prev_type is not none and ns.prev_type != file.type %}
        <hr style="clear:both;height: 0px;">
      {% endif %}
      {% set ns.prev_type = file.type %}
      
      {# Determinar el atributo style según el tamaño del archivo #}
      {% if file.mida == "grande" %}
        {% set style_attr = 'style="max-height:10000px;"' %}
      {% elif file.mida == "mitad" %}
        {# Si se requiere un estilo para "mitad", se puede definir aquí; actualmente se omite #}
        {% set style_attr = '' %}
      {% else %}
        {% set style_attr = '' %}
      {% endif %}
      
      {% if file.type == "Youtube" %}
        <div class="video-responsive">
          <div class="thumbnail-youtube-{{ ns.youtube_counter }}" style="background: transparent url(https://img.youtube.com/vi/{{ file.url }}/maxresdefault.jpg) center center no-repeat;background-size: cover;"></div>
          <div class="video-opac-{{ ns.youtube_counter }}"></div>
          <div class="play-video {{ ns.youtube_counter }}"></div>
          <iframe id="youtube-{{ ns.youtube_counter }}" src="https://www.youtube-nocookie.com/embed/{{ file.url }}?controls=0&showinfo=0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        {% set ns.youtube_counter = ns.youtube_counter + 1 %}
      
      {% elif file.type == "Video" %}
        <div class="photo-responsive">
          <video src="{{ file.url }}" controls></video>
        </div>
      
      {% elif file.type == "Vimeo" %}
        <div style="padding:56.25% 0 0 0;position:relative;">
          <div class="thumbnail-vimeo" style="background: transparent url(https://i.vimeocdn.com/video/{{ file.url }}_640.jpg) center center no-repeat;background-size: cover;"></div>
          <div class="video-opac"></div>
          <div class="play-video"></div>
          <iframe src="https://player.vimeo.com/video/{{ file.url }}?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>
        <script src="https://player.vimeo.com/api/player.js"></script>
      
      {% elif file.type == "Imagen" %}
        <div class="photo-responsive">
          <img src="{{ file.url }}" {{ style_attr|safe }}/>
        </div>
      
      {% else %}
        {# Si no se reconoce el type, no se muestra nada #}
      {% endif %}
    {% endfor %}
  </div>

  <!-- Sección de información del proyecto -->
  <div class="project_content">
    {% if work.title %}
      <strong>Title:</strong> {{ work.title }}<br>
    {% endif %}
    {% if work.client %}
      <strong>Client:</strong> {{ work.client }}<br>
    {% endif %}
    {% if work.agency %}
      <strong>Agency:</strong> {{ work.agency }}<br>
    {% endif %}
    {% if work.year %}
      <strong>Year:</strong> {{ work.year }}<br>
    {% endif %}

    {% if work.title or work.client or work.agency or work.year %}
      <br>
    {% endif %}

    {% if work.executive %}
      <strong>Executive Creative Director:</strong> {{ work.executive }}<br>
    {% endif %}
    {% if work.director %}
      <strong>Creative Director:</strong> {{ work.director }}<br>
    {% endif %}
    {% if work.copywriter %}
      <strong>Copywriter:</strong> {{ work.copywriter }}<br>
    {% endif %}
    {% if work.art %}
      <strong>Art Direction:</strong> {{ work.art }}<br>
    {% endif %}

    {% if work.executive or work.director or work.copywriter or work.art %}
      <br><br>
    {% endif %}

    {% if work.description %}
      <div class="work-description">{{ work.description }}</div><br>
    {% endif %}
  </div>
</div>

<div class="footer"></div>
{% endblock %}

{% block extra_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
$(function(){
  $('.play-video').on("click", function () {
    $(this).addClass("hidden");
    if($(this).hasClass('1')){
      $(".thumbnail-youtube-1").fadeTo(800, 0);
      $("#youtube-1")[0].src += "&autoplay=1";
      setTimeout(function(){
        $('.thumbnail-youtube-1').addClass("hidden");
        $('.video-opac-1').addClass("hidden");
      }, 900);
    }
    if($(this).hasClass('2')){
      $(".thumbnail-youtube-2").fadeTo(800, 0);
      $("#youtube-2")[0].src += "&autoplay=1";
      setTimeout(function(){
        $('.thumbnail-youtube-2').addClass("hidden");
        $('.video-opac-2').addClass("hidden");
      }, 900);
    }
    if($(this).hasClass('3')){
      $(".thumbnail-youtube-3").fadeTo(800, 0);
      $("#youtube-3")[0].src += "&autoplay=1";
      setTimeout(function(){
        $('.thumbnail-youtube-3').addClass("hidden");
        $('.video-opac-3').addClass("hidden");
      }, 900);
    }
    if($(this).hasClass('4')){
      $(".thumbnail-youtube-4").fadeTo(800, 0);
      $("#youtube-4")[0].src += "&autoplay=1";
      setTimeout(function(){
        $('.thumbnail-youtube-4').addClass("hidden");
        $('.video-opac-4').addClass("hidden");
      }, 900);
    }
    if($(this).hasClass('5')){
      $(".thumbnail-youtube-5").fadeTo(800, 0);
      $("#youtube-5")[0].src += "&autoplay=1";
      setTimeout(function(){
        $('.thumbnail-youtube-5').addClass("hidden");
        $('.video-opac-5').addClass("hidden");
      }, 900);
    }
  });
});
</script>
{% endblock %}
