<section class="header">
    <div class="header-logo">{{ main.logo }}</div>
    <div class="header-nav">
        <a href="/">
            <div class="header-nav-item {{ 'active' if active == 'bio' else '' }}">{{ main.navbar.bio }}</div>
        </a>
        <a href="/projects">
            <div class="header-nav-item {{ 'active' if active == 'projects' else '' }}">{{ main.navbar.projects }}</div>
        </a>
        <a href="/teach">
            <div class="header-nav-item {{ 'active' if active == 'teach' else '' }}">{{ main.navbar.teach }}</div>
        </a>
        <a href="/glosa">
            <div class="header-nav-item {{ 'active' if active == 'glosa' else '' }}">{{ main.navbar.glosa }}</div>
        </a>
        <a href="#">
            <div class="header-responsive">
                <svg class="header-responsive-bars" stroke-width="0" viewBox="0 0 512 512"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill="none" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32"
                        d="M80 160h352M80 256h352M80 352h352"></path>
                </svg>
                <svg class="header-responsive-close" stroke-width="0" viewBox="0 0 512 512"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"
                        d="M368 368 144 144m224 0L144 368"></path>
                </svg>
            </div>
        </a>
    </div>

    <div class="responsive-menu">
        <ul>
            <li><a href="/">Bio</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/teach">Teaching at University</a></li>
            <li><a href="/glosa">Glosa</a></li>
        </ul>
    </div>
</section>
{% block extra_js %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const header = document.querySelector('.header');
        const headerResponsive = document.querySelector('.header-responsive');
        const openIcon = document.querySelector('.header-responsive-bars');
        const closeIcon = document.querySelector('.header-responsive-close');

        openIcon.addEventListener('click', function (e) {
            e.preventDefault();
            header.classList.add('header-responsive-open');
            headerResponsive.classList.add('header-responsive-open');
        });

        closeIcon.addEventListener('click', function (e) {
            e.preventDefault();
            header.classList.remove('header-responsive-open');
            headerResponsive.classList.remove('header-responsive-open');
        });
    });
</script>
{% endblock %}
