/*
# Author: Aldasoro
# Template: Julia G. Naranjo
# Version: 3.0
# Copyright 2021 Aldasoro, inc.
# www: http://www.julianaranjo.com


Taula de continguts
-------------------
1.Base i fonts
2.Estructura
3.Header
4.Content bàsic
5.Projectes
6.Footer

/* ---------- 1. Base i fonts ---------- */
@font-face {
    font-family: 'Graphik-Regular';
    src: url('fonts/Graphik-Regular.otf'); /* IE9 Compat Modes */
    src: url('fonts/Graphik-Regular.otf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
}
@font-face {
    font-family: 'Graphik-Light';
    src: url('fonts/Graphik-Light.otf'); /* IE9 Compat Modes */
    src: url('fonts/Graphik-Light.otf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
}
@font-face {
    font-family: 'Romie-Regular';
    src: url('fonts/Romie_Regular.otf'); /* IE9 Compat Modes */
    src: url('fonts/Romie_Regular.otf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
}

/* ---------- 2. Estructura ---------- */
body, header, .content{
    background-color: #fff;
    color: #000;
}
body {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
}
.wrapper{
    margin-left: 50px;
    margin-right: 50px;
}
a{
    text-decoration: none;
}

/* ---------- 3. Header ---------- */
.header{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 50px;
    position: relative;
    z-index: 100;
}
.header-logo {
    font-size: 28px;
    font-weight: 500;
}
.header-nav a{
    color: #000;
    fill: #000;
}
.header-nav-item{
    display: inline-block;
    margin-left: 20px;
    padding-bottom:5px;
    vertical-align: super;
}
.header-nav-item.active{
    border-bottom: 1px solid #000;
}
.header-nav a:hover{
    color: #666;
}
.header-social-button svg:hover{
    fill: #666;
    cursor: pointer;
}

.header-social-button,
.header-responsive{
    display: inline-block;
    margin-left: 50px;
}
.header-social-button svg,
.header-responsive svg{
    height: 25px;
    width: 25px;
}
.header-responsive{
    display: none;
}
.header-responsive svg{
    stroke: #000;
}

.header-responsive-bars,
.header-responsive-close{
    stroke: #000;
}
.header-responsive>.header-responsive-bars{
    display: inline;
}
.header-responsive-open>.header-responsive-bars{
    display: none;
}
.header-responsive>.header-responsive-close{
    display: none;
}
.header-responsive-open>.header-responsive-close{
    display: inline;
}

.responsive-menu {
    display: none;
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 90;
    text-align: center;
    padding-top: 100px;
}

.header.header-responsive-open .responsive-menu {
    display: block;
}
.responsive-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.responsive-menu li {
    margin: 20px 0;
}
.responsive-menu a {
    color: #000;
    font-size: 24px;
    text-decoration: none;
}

/* ---------- 4. Index ---------- */
.index-description{
    margin-top: 100px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
}

/* ---------- 5. Projects ---------- */
.projects{
    margin-top: 60px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    height: calc(100vh - 225px);
    overflow-y: auto;
    scrollbar-width: none;      /* Oculta la barra en Firefox */
    -ms-overflow-style: none;   /* Oculta la barra en IE 10+ */
}
.projects::-webkit-scrollbar {
    display: none;
}

.project-card{
    margin-bottom: 40px;
}
.project-title{
    font-size: 24px;
    line-height: 30px;
    margin-bottom:5px;
    font-weight: 400;
}
.project-description{
    font-size: 16px;
    line-height: 24px;
}