/*
# Author: Aldasoro
# Template: Julia G. Naranjo
# Version: 3.0
# Copyright 2021 Aldasoro, inc.
# www: http://www.julianaranjo.com


Taula de continguts
-------------------
1.Medium devices
2.Small devices
3.Exra small devices


/* ---------- 1. Large devices --------- */
@media (max-width: 1475px) {
    body{
        margin:40px;
    }
    .dim{
        width:80%;
    }
}

/* ---------- 2. Medium devices ---------- */
@media (max-width: 1170px) {
    .experience-title{
        font-size: 22px;
    }
}

/* ---------- 3. Small devices ---- */
@media (max-width: 800px) {
    .responsive-title{
        margin-top:20px;
    }
    .nav-left, .nav-right, .nav-center{
        text-align: center;
        margin-bottom:20px;
    }
    .experience, .learning {
        margin-right: 0px;
        margin-left: 0px;
    }
}

/* ---------- 4. Extra small devices ---- */
@media (max-width: 460px){
    .projects-link{
        display: inline-block;
        top:-10px;
    }
}